body
{
	background-image:url("background_forgotpassword.jpg");
	background-position:center;
	background-size:cover;
}
#div1
{
	border:1px solid red;
	border-radius:12px;
	width:300px;
	margin:150px auto;
	padding:30px;
	background-color:orange;
	color:red;
}
form
{
	color:white;
}
input
{
	border-radius:12px;
	background-color:#E5E7E9;
}
input[type=email]
{
	width:175px;
}
input[type=email]:focus
{
	background-color:white;
}
input[type=submit]
{
	background-color:green;
	border-color:lightgreen;
	border-radius:10px;
	border-style:inset;
	color:white;
	cursor:pointer;
	float:right;
}
input[type=submit]:hover
{
	color:lightgreen;
}
input:focus, textarea:focus {
    outline: none;
}
input {
text-align: center;
}