#menubar
{
	height:610px;
	float:left;
	width:100%;
}
#page
{
	margin-top:-610px;
	float:right;
	height:610px;
	width:75%;
}
#page form
{
	text-align:center;
	margin-top:20px;
	margin-left:290px;
}
#page form input
{
	margin-bottom:5px;
}
